body {
	width : 100%;
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	color: grey;
	background-color: white;
}

h1 {
	margin-bottom: 0px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	color: grey;
}

input {
	width: 30vw;
	height: 8vw;
	font-size: 8vw;
	color: #439BC1;
}

.enTete {
	margin: 20px;
}

.nav {
	float: right;
	text-align: right;
	color: grey;
}

.calculeZone{
	width: 100%;
	margin: auto;
	text-align: center;
}

.operationLine {
	margin-top: 25vh;
}

.op{
	display: inline-block;
	text-align: center;
	font-size: 8vw;
	color: grey;
	margin-top: 20px;
	margin-bottom: 20px;
	/*background-color: red;*/
}

.btValid {
	color: grey;
	text-align: center;
	font-size: 20px;
	width : 100px;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	border: 3px solid grey;
}

.btValid:hover {
	cursor: pointer;
	color: ForestGreen;
	border: 3px solid ForestGreen;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.scoreSection {
	z-index: 10;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	background-color: white;
	color :grey;
	text-align: center;
	font-size: 8vw;
	visibility: hidden;
}