
body {
	width : 100%;
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	background-color: white;
}

h1 {
	text-align: center;
	font-weight: normal;
	letter-spacing: 3px;
	margin-bottom: 0px;
	color: grey;
}

form {
	margin: auto;
	margin-top: 20px;
	position: center;
	width: 280px;
}

.btValid {
	color: grey;
	text-align: center;
	width : 100px;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	border: 3px solid grey;
}

.btValid:hover {
	cursor: pointer;
	color: ForestGreen;
	border: 3px solid ForestGreen;
}


select {
	margin: 20px;
}


.sigle {
	padding: 0px;
	margin: auto;
	font-size: 150px;
	color: lightgrey;
	text-align: center;
}

.styled-select {
   background: lightgrey 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}


.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue { background-color: #3b8ec2; }